run = "npm start"
entrypoint = "server/index.ts"

[env]
PORT = "3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build && npx prisma db push"]
